body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

/* body,
button,
input,
select,
textarea {
  font: 12px/1 '微软雅黑', Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
} */

button,
input,
select,
textarea {
  font-size: 100%;
}
input,
textarea {
  text-indent: 2px;
  border: 1px solid #ccc;
}
a {
  text-decoration: none;
}
.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.header .top .user dt {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background: #fff;
  overflow: hidden;
  border-radius: 50%;
  float: right;
}

ul,
ol {
  list-style: none;
}
.wp {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

fieldset,
abbr,
img,
a img,
:link img,
:visited img {
  border: 0px;
}

button,
input,
select,
textarea {
  font-size: 100%;
}
